!!!
%html
  %title Blogging like it's '99
  = stylesheet_link_tag 'blag'
%body
  #container
    %h1 Blogging like it's '99
    - if flash[:notice].present?
      #flash
        .notice&= flash[:notice]
    = yield